body {
	background-color: #4267B2;;
	font-family: sans-serif;

}
form .container {
	background-color: white;
	height: 455px;
	width: 630px;
	border-radius: 5px;
	overflow: hidden;
	margin-left: 590px;
	margin-top: 130px;
}
.container h2 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.container input {
	
	padding-right: 30px;
	padding-left: 30px;
	border-radius: 20px;
	height: 50px;
	width: 250px;
	margin-bottom: 30px;
}


form img {
	position :absolute;
	height:455px;
	width: 503px;
	margin-top: -445px;
	margin-left: -513px;
}
  #reg {
	width: 570px;
	height: 40px;
	border-radius: 30px;
	margin-bottom: 20px;
}